<h1>Listing gravities</h1>

<table>
  <tr>
    <th>Component</th>
    <th>Connected to</th>
    <th></th>
  </tr>

<% @gravities.each do |gravity| %>
  <tr>
    <td><%= gravity.component.name %></td>
    <td><%= gravity.connected.name %></td>
    <td><%= link_to 'Show', gravity.component %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gravity', new_gravity_path %>
